# ?? ??
spring:
  profiles:
    active: prod
  application:
    name: product-admin-service
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  batch:
    job:
      enabled: true
    jdbc:
      initialize-schema: always

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    display-request-duration: true
  packages-to-scan: org.example.productadminservice  # ??? ??? ??
  default-produces-media-type: application/json
  default-consumes-media-type: application/json
  swagger-ui.operations-sorter: alpha

logging:
  level:
    org.example.product_admin_service: DEBUG

server:
  shutdown: graceful

encrypted:
  secret-key: PNFKTKKtI6PtL7UQHKTUG8tgWadm/Y2krrXUYlrjZ5Q=

# local ??
---
spring:
  config:
    activate:
      on-profile: local
  datasource:
    url: jdbc:mysql://localhost:3307/promptoven_product
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      dialect: org.hibernate.dialect.MySQL8Dialect
      format_sql: true
    generate-ddl: true
  data:
    mongodb:
      uri: mongodb://root:1234@mongodb:27017/product_service
  kafka:
    bootstrap-servers: localhost:9092,localhost:9093,localhost:9094

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

server:
  port: 8082  # random port for local development

# prod ??
---
spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: jdbc:mysql://mysql:3306/promptoven_product
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    mongodb:
      uri: mongodb://root:1234@mongodb:27017/product_service
      auto-index-creation: false  # prod ????? ?? ??? ?? ???? ??
  kafka:
    bootstrap-servers: kafka-1:9092, kafka-2:9092, kafka-3:9092
  cloud:
    config:
      name: product-admin-service
      fail-fast: false

eureka:
  client:
    serviceUrl:
      defaultZone: http://discovery:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

server:
  port: 8080
